
#correctGuess ul {
  display: inline;
}
li.letter {
  list-style: none;
  float: left;
  width: 50px;
  height: 75px;
  display: block;
  margin: 5px;
  padding: 5px;
  border-bottom: solid 1px #000;
}
.container {
  padding: 15px;
}